
<div class="content2" style="border-top: 2px solid #000; border-bottom: 2px solid #000; margin: 0; padding-top: 15mm;" >
    <table  cellpadding=2 cellspacing=0 style=" width: 100%;"   >
        <tr>
            <td class="textbold" style="width: 25%;">DATE</td>
            <td >: {$trans_date}</td>
        </tr>
    <tr>
        <td class="textbold">TRANSACTION NO</td>
        <td>: #{$trans_no}</td>
        </tr>
    <tr>
	    <td class="textbold">REFERENCE NO</td>
	    <td>: {$reference}</td>
    </tr>
    <tr>
	    <td class="textbold">PAYEE</td>
	    <td></td>
    </tr>
    <tr>
	    <td class="textbold">PAYMENT FROM</td>
	    <td>: {$payment_from}</td>
    </tr>
    <tr>
	    <td class="textbold">Cheque Number</td>
	    <td>: {$cheque}</td>
    </tr>

    </table>
</div>
