.menu-style{
	height: 100px;
	/*width: 24%;*/
	display: table-cell;
 	border: groove;
  	vertical-align: middle;
  	/*margin: 1px;*/

}
.menu-style .menu-icon{
	float:left;
	height: 100%;
	margin-right: 5px;
	padding-top: 11px;

}
.menu-style h4{
	text-align: left;
}
.menu-style a{
	text-decoration: none;
}
.input-group-sm.row{
	padding: 10px;
}


/* RESPONSIVE ================================================================ */
/* extra small */
@media (max-width: 767px) {
	
}

/* extra small to small */
@media (max-width: 991px) {
	
}

/* small */
@media (min-width: 768px) and (max-width: 991px) {
	
}
/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
	
}
/* large */
@media (min-width: 1200px) {
	
}