@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

body { font-family: Quicksand !important; }

/*header menu*/
.row.head { display: block; height: 50px; margin-bottom: 20px; }

/*main content*/
.page-header,
.page-content {
	padding: 15px;
}

.page-content {
	padding-bottom: 45px;
}

.page-title { position: relative; }
.page-title h1 {
  text-align: center;
  padding-bottom: 45px;
  border-bottom: 1px dashed #CCC;
}

.container{
	/*background: #4684A3;*/
	margin: unset;
	display: block;
	width: 100%;
	padding: 10px;
}

.text-center { text-align: center; }
.margin-top { margin-top: 25px; }
.margin-bottom { margin-bottom: 25px; }


/**/
.dashboard_item {
    padding: 15px;
}

.dashboard_item:nth-child(even) {
    border-left: 1px dashed #CCC;
}


/* RESPONSIVE ================================================================ */
/* extra small */
@media (max-width: 767px) {

}

/* extra small to small */
@media (max-width: 991px) {

}

/* small */
@media (min-width: 768px) and (max-width: 991px) {

}
/* medium */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* large */
@media (min-width: 1200px) {

}
