.row.head{
	margin-bottom: unset !important;
}
.page-header, .page-content{
	padding-top: unset !important;
}
.dropdown-menu li{
	padding-top: 5px;
	padding-bottom: 5px;
}
.menu-style{
	height: 250px;
	padding-top: 30px;
 	border: 1px solid;
  	vertical-align: middle;
	text-align: left;
  	padding: 30px 20px 20px 20px;
  	padding-bottom: 10px;
  	color: #000;
  	font-size: 12px;

}
.menu-number{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	margin: auto;
	background: #E27100;
}
.menu-number-number b{
	display: block;
	color:#FFF;
	padding-top: 25%;
	text-align: center;	
}

.page-container-bg-solid{
	overflow-x: hidden;
}
.menu-style .menu-icon{
	margin-bottom: 10px;
	margin-right: 5px;
	padding-top: 11px;

}
.menu-style .menu-icon{
	display: block;
	text-align: center;
	margin-bottom: 30px;

}
.menu-style h4{
	text-align: left;
	color: #000;
}
.menu-style a{
	text-decoration: none;
	color: #000;
}
.menu-style span{
	text-align: left;
	color: #000;

}
.menu-dropdown a{
	color: #000;
}
.input-group-sm	.row{
	padding: 10px;
}
.form-actions{
	margin-top: 20px;
	padding: 10px;
	border-bottom: 1px solid #ADADAD;
	margin-bottom: 15px;
}
.form-actions .ajaxsubmit{
	margin-left: 20px;
	float: right;
	background: #23527c;
	color: #FFF;
}
.form-actions a{
	background: #AAA;
}
.form-body{
	padding-bottom: 20px;
}
.form-control, .btn{
	border-radius: unset;
}
.form-control:focus {
    outline: unset;
    /*border-color: unset;*/
    -webkit-box-shadow: unset;
    box-shadow: unset;
}
.container{
	/*background: #4684A3;*/
	margin: unset;
	display: block;
	width: 100%;
	padding: 10px;
}
.container a{
	color: #000;
}
[name=SearchOrders]{
	margin-top: 15px;
	float: right;
}
.input-group-sm{
	padding-right: 5px;
	padding-left: 15px;

}
.page-footer{
	padding-bottom: 15px;
	border-top: 1px solid;
}
.scroll-to-top{
	position: fixed;
	bottom: 10px;
	right: 15px;
	z-index: 8;
}
.icon-arrow-up{
	font-size: 35px;
	/*position: absolute;*/
}
.alert{
	border-radius: unset;
}
.jumbotron{
	 background: url(/assets/images/jumbotron.jpeg) no-repeat;
	 margin-bottom: 50px;
	 border-radius: unset !important;
	 height: 320px;
	 color: #FFF;
	 text-shadow: 2px 1px #7C7C7C;
	 background-size: cover;
}
.control-label{
	margin-top: 15px !important;
	margin-bottom: 10px !important;
}
.dropdown-menu li{
	position: relative;
}
.dropdown-submenu.open .dropdown-menu{
	display: block;
	top: 0;
	left: 100%;
}
.alert{
	    word-wrap: break-word !important;
}

/* RESPONSIVE ================================================================ */
/* extra small */
@media (max-width: 767px) {
	
}

/* extra small to small */
@media (max-width: 991px) {
	
}

/* small */
@media (min-width: 768px) and (max-width: 991px) {
	
}
/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
	
}
/* large */
@media (min-width: 1200px) {
	
}