<div class="container wrapper">

	<p class="textcenter page_statement" >{$company.name} {if isset($company.coy_no)} <span>- {$company.coy_no}</span> {/if}</p>
	{if isset($company.address) AND $company.address !='' } <p class="textcenter" >{$company.address}</p> {/if}
	<p class="textcenter font13" >Tel: {$company.phone}  Fax: {$company.fax}</p>
	{*
	<p class="textcenter h4" style="line-height: 2cm;" >{if isset($title)}{$title}{/if}</p>

	<table style="width: 100%;" cellpadding="3" cellspacing="0" >
		<tr>
			<td width="15%" class="textright" ><b>A/C No.</b>:</td><td width="10cm" >{$order.debtor_no}</td>
			<td class="textright" width="3cm" ><b>Statement Date</b>:</td><td width="15%">{$order.date}</td>
		</tr>
		<tr>
			<td class="textright"><b>Debtor</b>:</td><td width="10cm">{$order.debtor}</td>
			<td class="textright" ><b>Terms</b>:</td><td> 30 days</td>
		</tr>
		<tr>
			<td class="textright"><b>Address</b>:</td><td width="10cm">{if isset($address)}{$address}{/if}</td>
			<td class="textright" ><b>Page:</b></td><td>{$page_number}</td>
		</tr>
	</table>
	*}
	<table style="width: 100%;" cellpadding="3" cellspacing="0" >
		<tr>
			<td>
				<table cellpadding="3" cellspacing="0" style="width: 7cm;">
					<tr><td width="25%" class="textright" ><b>A/C No.</b>:</td><td>{$order.debtor_no}</td></tr>
					<tr><td width="25%" class="textright" ><b>Debtor</b>:</td><td>{$order.debtor}</td></tr>
					<tr><td width="25%" class="textright" ><b>Address</b>:</td><td>{if isset($address)}{$address}{/if}</td></tr>
				</table>

			</td>
			<td width="35%">
				<table cellpadding="3" cellspacing="0">
					<tr><td></td></tr>
					<tr><td class="textcenter" style="font-size: 150%; font-weight: bold;">Statement Of Account</td></tr>
					<tr><td></td></tr>
				</table>
			</td>
			<td>
				<table cellpadding="3" cellspacing="0" style="width: 6cm;" >
					<tr><td width="50%" class="textright" ><b>Statement Date</b>:</td><td>{$order.date}</td></tr>
					<tr><td width="50%" class="textright" ><b>Terms</b>:</td><td>30 days</td></tr>
					<tr><td width="50%" class="textright" ><b>Page</b>:</td><td>{$page_number}</td></tr>
				</table>

			</td>

		</tr>
	</table>
</div>