<div class="page-wrapper-row">
	<div class="page-wrapper-bottom">
		<div class="page-prefooter ">
			<div class="container shortcut_key hidden-sm-down">{$phelp}</div>
		</div>
		<div class="page-footer">
			<div class="container">
				<!--Copyright 2016 &copy; {$power_by} &nbsp;|&nbsp;<a target="_blank" href="{$power_url}">{$power_company}</a>-->
				Copyright &copy; 2016 by Uniq Synergy Pte Ltd
			</div>
		</div>
		<div class="scroll-to-top">
			<i class="icon-arrow-up"></i>
		</div>
	</div>
</div>