<div class="page-wrapper-row">
	<div class="page-wrapper-bottom">
		<!-- <div class="page-prefooter "> -->
			<!-- <div class="container shortcut_key hidden-sm-down">{$phelp}</div> -->
		<!-- </div> -->
		<div class="page-footer">
			<div class="container">
				<div>Copyright 2016 &copy; {$power_by}</div>
				<div class="shortcut_key hidden-sm-down">
					{if $phelp != ""}
						&nbsp;|&nbsp;
						{$phelp}
					{/if}
				</div>
				<div class="scroll-to-top pull-right">
					<i class="icon-arrow-up"></i>
				</div>
			</div>
		</div>

	</div>
</div>
