<h5>
	You can delete fiscal year with the fllowing conditions:
</h5>
<ul style="list-style-type: decimal;">
	<li>The latest fiscal year must be deleted first before older fiscal year can be deleted. For example if there are 2014,2015 & 2016 in the system, them 2016 first be deleted before you can delete 2015</li>
    <li>The fiscal year to be deleted must be closed if transactions exist</li>
    <li>If the fiscal year does not have any transaction, the deletion will be permitted regardless of being closed or not.</li>
</ul>