<div class="row">
	{$b = 1}
	{if isset($app) AND $app|count > 0}{foreach $app AS $name=>$a}
	<!-- <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 menu-style" > -->
	<div class="col-md-2" style="margin-bottom: 40px;">
		<div class="menu-style">
			<div class="menu-number">
				<span class="menu-number-number"><b>{$b++}</b></span>
			</div>

			<a class="portlet light homeblock" href="{site_url uri=$a[0]}" >
				<!-- {*<span class="dashboard-home-{$name}" ></span>*} -->
				<span>
					<span class="home-icon" ><i class="fa fa-{$a[3]} fa-4x menu-icon"></i></span>
					<h4>{$a[1]}</h4>
					<!-- <h5>{$a[1]}</h5> -->
					<span>{$a[2]}</span>
				</span>
			</a>
		</div>
	</div>
	{/foreach}{/if}
</div>