<div class="container">
<div class="row clearfix form-inline">
	<div class="col-md-offset-2 col-md-8 form">
{if isset($options)}{foreach $options AS $name=>$field}
{if $field.type !='HIDDEN' }
<div class="form-group">
    <label for="exampleInputEmail1">{$field.title}</label>
    {formInput type=$field.type name=$name field=$field}
</div>
{else}
{formInput type=$field.type name=$name field=$field}
{/if}
{/foreach}{/if}


	<div class="form-actions" >

		{if isset($submit)}
			{foreach $submit AS $name => $title}
				{if $title|is_array}
					{submit_button name=$name title=$title.0 atype=$title.1}
				{else}
					{submit_button name=$name title=$title atype=1}
				{/if}

			{/foreach}
		{/if}
		</div>
</div>
</div>

</div>



