.row .table {
  margin-bottom: 0px; }

.table td a.button {
  display: inline;
  margin-left: 5px;
  width: 15px;
  height: 15px; }
  .table td a.button:FIRST-CHILD {
    margin-left: 0; }
  .table td a.button .fa {
    font-size: 20px; }
  .table td a.button .fa.fa-edit {
    top: 2px;
    position: relative; }

/***
Custom tables
***/
.table-toolbar {
  margin-bottom: 20px; }

.table-toolbar:before,
.table-toolbar:after {
  content: " ";
  display: table; }

.table-toolbar:after {
  clear: both; }

.table.table-full-width {
  width: 100% !important; }

.table .btn {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 5px; }

.table thead tr th {
  font-size: 14px;
  font-weight: 600; }

.table-advance {
  margin-bottom: 10px !important; }

.table-advance thead {
  color: #3f444a; }

.table-advance thead tr th {
  background-color: #f1f4f7;
  font-size: 14px;
  font-weight: 400;
  color: #3f444a; }

.table-advance div.success,
.table-advance div.info,
.table-advance div.important,
.table-advance div.warning,
.table-advance div.danger {
  position: absolute;
  margin-top: -5px;
  float: left;
  width: 2px;
  height: 30px;
  margin-right: 20px !important; }

.table-advance tr td {
  border-left-width: 0px; }

.table-advance tr td:first-child {
  border-left-width: 2px !important; }

.table-advance tr td.highlight:first-child a {
  margin-left: 15px; }

.table-advance td.highlight div.primary {
  border-left: 2px solid #337ab7; }

.table-advance td.highlight div.success {
  border-left: 2px solid #36c6d3; }

.table-advance td.highlight div.info {
  border-left: 2px solid #659be0; }

.table-advance td.highlight div.warning {
  border-left: 2px solid #F1C40F; }

.table-advance td.highlight div.danger {
  border-left: 2px solid #ed6b75; }

@media (max-width: 767px) {
  /* 767px */
  .table-advance tr > td.highlight:first-child a {
    margin-left: 8px; } }

/***
Light Table
***/
.table.table-light {
  border: 0 !important; }

.table.table-light > thead > tr:hover > th {
  background: none; }

.table.table-light > thead > tr.uppercase {
  text-transform: uppercase; }

.table.table-light > thead > tr > th {
  font-weight: 600;
  font-size: 13px;
  color: #93a2a9;
  font-family: "Open Sans", sans-serif;
  border: 0;
  border-bottom: 1px solid #F2F5F8; }

.table.table-light > tbody > tr:last-child > td {
  border: 0; }

.table.table-light > tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #F2F5F8;
  color: #8896a0;
  vertical-align: middle; }

.table.table-light > tbody > tr > td.fit {
  width: 1px;
  padding-right: 3px; }

.table.table-light > tbody > tr > td .user-pic {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }

.table.table-light.table-hover > tbody > tr > td:hover,
.table.table-light.table-hover > tbody > tr > th:hover,
.table.table-light.table-hover > tbody > tr:hover > td {
  background: #f9fafb !important; }

.table-hover > tbody > tr:hover > td {
  background: #f3f4f6 !important; }

table thead .navibutton {
  width: 100%;
  cursor: pointer;
  /*color: $text-color; */
  text-align: left; }

table .sortable {
  padding: 0;
  /*padding-right: 30px; */ }
  table .sortable .navibutton {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
    border: none;
    width: calc(100%-32px);
    margin: 0;
    font-size: 14px;
    font-weight: 600; }
  table .sortable:HOVER .navibutton {
    background-color: transparent; }
  table .sortable.both .navibutton {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC"); }
  table .sortable.desc .navibutton {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=); }
  table .sortable.asc .navibutton {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==); }

.table .tableheader {
  font-weight: bold; }

@media (min-width: 768px) {
  .table-responsive {
    /*
		display: inline-table;
		*/ } }
